/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body {
  background-color: #f4f3f3;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.page-style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}